include _mixins.pug

doctype html

html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    block pageTitle
      title Credion - Bedrijfsfinanciering voor ondernemers

    meta(name="description", content="")

    link(rel="shortcut icon" href="favicon.ico")
      
    link(href="https://fonts.googleapis.com/css?family=Rambla" rel="stylesheet")

    link(rel='stylesheet', href='css/style.css')
    block pageStylesheets

  body()#body

    // SVG icons
    svg(xmlns="http://www.w3.org/2000/svg", style="height:0;position:absolute;visibility:hidden;width:0;")
      symbol#search(viewBox="0 0 24 24")
        path(d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
        path(d="M0 0h24v24H0z" fill="none")
      symbol#menu(viewBox="0 0 24 24")
        path(d="M0 0h24v24H0z" fill="none")
        path(d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z")
      symbol#close(viewBox="0 0 24 24")
        path(d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z")
        path(d="M0 0h24v24H0z" fill="none")
      symbol#chat(viewBox="0 0 24 24")
        path(d="M0 0h24v24H0z" fill="none")
        path(d="M21 6h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1zm-4 6V3c0-.55-.45-1-1-1H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1z")
      symbol#user(viewBox="0 0 24 24")
        path(d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z")
        path(d="M0 0h24v24H0z" fill="none")
      symbol#phone(viewBox="0 0 24 24")
        path(d="M16 1H8C6.34 1 5 2.34 5 4v16c0 1.66 1.34 3 3 3h8c1.66 0 3-1.34 3-3V4c0-1.66-1.34-3-3-3zm-2 20h-4v-1h4v1zm3.25-3H6.75V4h10.5v14z")
        path(d="M0 0h24v24H0z" fill="none")
      symbol#email(viewBox="0 0 24 24")
        path(d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z")
        path(d="M0 0h24v24H0z" fill="none")
      symbol#check(viewBox="0 0 24 24")
        path(d="M0 0h24v24H0z" fill="none")
        path(d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z")

    .c7-wrapper.c7-wrapper--full.c7-fixed.c7-zindex-3.c7-w-100

      // Main navigation
      .c7-layout
        .c7-layout__item.c7-width-m-24-24
          +product_menu()
                    
    main
      block pageContent
    
    // Socials
    .c7-wrapper
      .c7-layout.c7-mb
        .c7-layout__item.c7-width-m-8-24
          +product_socials()
    
    // Footer
    .c7-wrapper
      +product_footer()

    // Scripts
    script(src="scripts/jquery.js")
    script(src="scripts/interface.js")
