extends pug/_layout.pug

block pageTitle
  title Over ons - Credion

block pageContent

  .c7-wrapper.c7-wrapper--full.c7-mb-xl
    // Page header
    .c7-page-header
      
      .c7-wrapper
        .c7-layout
          .c7-layout__item.c7-width-m-24-24
      
            // Contact card
            .c7-page-header--container
              .c7-page-header--container__panel
                +component_card_contact_brand()

  .c7-wrapper.c7-mb-xxl
    .c7-w-max-720.c7-centered.c7-text-center
      .c7-mb-xxl
        h1.c7-h1.c7-mb Over Credion
        p Wij zijn Financial Engineers voor ambitieuze ondernemers in het MKB.
        p Al sinds 1999 zijn wij dé autoriteit op het gebied van bedrijfsfinancieringen. Onze specialistische adviseurs vindt u in heel Nederland. Ons netwerk maakt ons sterk; we werken samen met meer dan 60 geldvertrekkers en hebben zo toegang tot nationaal en internationaal kapitaal.
        p Elke dag zetten we alles op alles om ondernemers te helpen bij het waarmaken van hun ambitie. We denken creatief mee, begeleiden waar nodig en werken altijd op maat. Zo weet u zeker dat u een bedrijfsfinanciering ontvangt die precies bij u past. 
        p Maak kennis met een van onze adviseurs en ontdek wat we voor u en uw ambities kunnen betekenen. 
    
    // Content cards
    .c7-layout.c7-layout--stretch.c7-layout--xxsm.c7-mb-xxl
      .c7-layout__item.c7-width-s-12-24.c7-width-m-8-24
        +component_card_category('Visie & kernwaarden')
      .c7-layout__item.c7-width-s-12-24.c7-width-m-8-24
        +component_card_category('Geschiedenis')
      .c7-layout__item.c7-width-s-12-24.c7-width-m-8-24
        +component_card_category('Feedback')
      .c7-layout__item.c7-width-s-12-24.c7-width-m-8-24
        +component_card_category('Adviseur worden?')
      .c7-layout__item.c7-width-s-12-24.c7-width-m-8-24
        +component_card_category('Geldverstrekkers')
      .c7-layout__item.c7-width-s-12-24.c7-width-m-8-24
        +component_card_category('Samenwerking')
  
    // News and cases
    .c7-layout
      .c7-layout__item.c7-width-m-12-24.c7-mb-xxl
        h2.c7-h2.c7-mb Nieuws
        +component_card_news()
        +component_card_news()
        +component_card_news()
        a(href="#") Meer nieuws
      .c7-layout__item.c7-width-m-12-24
        h2.c7-h2.c7-mb Cases
        +component_card_news()
        +component_card_news()
        +component_card_news()
        a(href="#") Meer cases
  
    // Team intro
    .c7-w-max-720.c7-centered.c7-text-center
      .c7-mb-l
        h2.c7-h2.c7-mb Team
        p Wij werken alleen met de beste mensen. Financial Engineers noemen we ze: specialisten op het gebied van bedrijfsfinancieringen, maar ook het hele proces daar omheen. Onafhankelijk, doortas-tend, duidelijk en realistisch. Zonder in te boeten aan creativiteit en flexibiliteit. En, ook niet onbe-langrijk: vriendelijkheid.
        p Ervaar het zelf.
        p Maak kennis met een van onze Financial Engineers en zet de eerste stap naar het realiseren van uw ambities.
        p.c7-mb-l Kennismaken is vrijblijvend.
    
    // Team profiles
    .c7-layout.c7-layout--xxl.c7-mb-xxl
      - for (var x = 0; x < 5; x++)
        .c7-layout__item.c7-width-s-12-24.c7-width-m-8-24.c7-mb-l
          +profile()
                
    // Newsletter
    .c7-text-center.c7-w-max-680.c7-centered
      h2.c7-h2.c7-mb-l Onze specialisten houden u graag op de hoogte
      p.c7-mb Schrijf u daarom in voor onze nieuwsbrief. U ontvangt maandelijks relevant nieuws over alles dat met bedrijfsfinancieringen te maken heeft.
      form
        fieldset
          legend.c7-hidden-visually Aanmelden nieuwsbrief
          .c7-form--field
            label(for="newsletter").c7-form--field__label Typ uw e-mailadres
            input#newsletter.c7-form--field__input.c7-form__input--text(type="text" placeholder="Typ uw e-mailadres")
            button.c7-button.c7-button--round.c7-button-primary.c7-search--button Aanmelden 
