extends pug/_layout.pug

block pageTitle

block pageContent

  .c7-wrapper.c7-pt
    .c7-layout.c7-layout--xxl.c7-mb-xxl
      
      // Main content
      .c7-layout__item.c7-width-m-16-24
        h1.c7-mb-l Dit is een contentpagina
        figure
          img(src="images/hero-branch.jpg")
        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquameius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        h2 Lorem ipsum dolor sit amet
        p Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
        h2 Lorem ipsum dolor sit amet
        p Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
          
        
      // Right column
      .c7-layout__item.c7-width-m-8-24
        h2.c7-h2.c7-mb Nieuws
        +component_card_news()
        +component_card_news()
        +component_card_news()
        a(href="#") Meer nieuws
        .c7-mb-xxl
        h2.c7-h2.c7-mb Cases
        +component_card_news()
        +component_card_news()
        +component_card_news()
        a(href="#") Meer cases
          
              
