extends pug/_layout.pug

block pageTitle

block pageContent

  .c7-wrapper.c7-wrapper--full
    +product_header()

  .c7-wrapper
    // Facts and figures
    .c7-layout.c7-mb
      .c7-layout__item.c7-width-m-24-24.c7-text-center
        h2 Specialist in bedrijfsfinancieringen sinds 1999

    // Cards
    .c7-layout.c7-layout--stretch.c7-layout--xxsm.c7-mb-xxl

      // Top row of cards
      .c7-layout__item.c7-width-s-12-24.c7-width-m-8-24.c7-mb-xxs
        .c7-card--factsfigures.c7-card--factsfigures__blue
          .c7-card--factsfigures__title 2,7 miljard
          .c7-card--factsfigures__text Sinds 2014 realiseerden we al 2,7 miljard aan financieringen
      .c7-layout__item.c7-width-s-12-24.c7-width-m-8-24.c7-mb-xxs
        +component_card_video()
      .c7-layout__item.c7-width-s-12-24.c7-width-m-8-24.c7-mb-xxs
        .c7-card--factsfigures.c7-card--factsfigures__green
          .c7-card--factsfigures__title.c7-mb0
            svg(viewBox="0 0 24 24").c7-icon.c7-icon--extralarge.c7-card--factsfigures__icon
              use(xlink:href="#check")
          .c7-card--factsfigures__text Wij garanderen de best passende financiering voor u
          
      // Bottom row of cards
      .c7-layout__item.c7-width-s-12-24.c7-width-m-8-24.c7-mb-xxs
        .c7-card--factsfigures.c7-card--factsfigures__green
          .c7-card--factsfigures__title 103 adviseurs
          .c7-card--factsfigures__text Altijd dichtbij, altijd onafhankelijk
      .c7-layout__item.c7-width-s-12-24.c7-width-m-8-24.c7-mb-xxs
        .c7-card--factsfigures.c7-card--factsfigures__blue
          .c7-card--factsfigures__title.c7-mb0
            svg(viewBox="0 0 24 24").c7-icon.c7-icon--extralarge.c7-card--factsfigures__icon
              use(xlink:href="#check")
          .c7-card--factsfigures__text Uw persoonlijke adviseur begeleidt u van groeiplan tot financiering
      .c7-layout__item.c7-width-s-12-24.c7-width-m-8-24.c7-mb-xxs
        .c7-card--factsfigures.c7-card--factsfigures__yellow
          .c7-card--factsfigures__title 40 vestigingen
          .c7-card--factsfigures__text U vindt ons overal in Nederland

    // Money lenders
    .c7-layout.c7-mb-xl
      .c7-layout__item.c7-width-m-24-24.c7-text-center
        h2 Meer dan 60 geldverstrekkers: wij hebben het grootste netwerk van Nederland
    .c7-layout.c7-text-center
      .c7-layout__item.c7-width-xxs-12-24.c7-width-s-6-24.c7-mb
        img(src="images/logo-ing.png").c7-w-50
      .c7-layout__item.c7-width-xxs-12-24.c7-width-s-6-24.c7-mb
        img(src="images/logo-das.png").c7-w-25
      .c7-layout__item.c7-width-xxs-12-24.c7-width-s-6-24.c7-mb
        img(src="images/logo-fundiq.png").c7-w-50
      .c7-layout__item.c7-width-xxs-12-24.c7-width-s-6-24.c7-mb
        img(src="images/logo-bnp.png").c7-w-50
    .c7-layout.c7-text-center.c7-mb-s
      .c7-layout__item.c7-width-xxs-12-24.c7-width-s-6-24.c7-mb
        img(src="images/logo-fundipal.png").c7-w-50
      .c7-layout__item.c7-width-xxs-12-24.c7-width-s-6-24.c7-mb
        img(src="images/logo-triodos.png").c7-w-50
      .c7-layout__item.c7-width-xxs-12-24.c7-width-s-6-24.c7-mb
        img(src="images/logo-sns.png").c7-w-50
      .c7-layout__item.c7-width-xxs-12-24.c7-width-s-6-24.c7-mb
        img(src="images/logo-abnamro.png").c7-w-50
    .c7-layout.c7-text-center.c7-mb-xxl
      .c7-layout__item.c7-width-s-24-24
        a(href="moneylenders.html").c7-links-has-arrow Bekijk alle geldverstrekkers

    // Cases and testimonials
    .c7-layout.c7-layout--xxsm.c7-mb-xxl.c7-text-center

      // Testimonial 1
      .c7-layout__item.c7-width-s-12-24.c7-width-m-8-24
        +component-testimonial()
          
      // testimonial 2
      .c7-layout__item.c7-width-s-12-24.c7-width-m-8-24
        +component-testimonial()
        
      // Testimonial 3
      .c7-layout__item.c7-width-s-12-24.c7-width-m-8-24
        +component-testimonial()

    // Finance options
    .c7-mb-xxl.c7-m-centered.c7-text-center.c7-w-max-680
      h2.c7-mb Financiert de bank uw ambities niet?
      p.c7-mb Wij helpen u graag met onafhankelijk en betrouwbaar advies over bedrijfsfinancieringen.
      a(href="howitworks.html").c7-links-has-arrow Lees meer over de mogelijkheden
