extends pug/_layout.pug

block pageTitle
  title In 5 stappen naar de meeste optimale finaniceringsconstructie - Credion

block pageContent

  .c7-wrapper.c7-wrapper--full.c7-mb-xxl.c7-background-blue-50
    .c7-wrapper
      .c7-w-max-720.c7-centered.c7-text-center.c7-pv-xxl
        h1.c7-font-white.c7-mb In 5 stappen naar uw optimale bedrijfsfinanciering
        p.c7-font-white.c7-mb0 Onze werkwijze is helder en transparant. We garanderen onafhankelijk advies en specialistische begeleiding bij het vinden van de best passende financiering voor uw ambities. 

  .c7-wrapper.c7-mb-xxl
    .c7-w-max-720.c7-centered.c7-text-center
      
      // Eerste kennismaking
      .c7-mb-xxl
        h2.c7-mb 1. Eerste kennismaking
        p.c7-mb Het vinden van de juiste bedrijfsfinanciering begint met een goed gesprek. 
          a(href="#") Maak daarom een afspraak met een van onze adviseurs. 
        figure
          img(src="images/icon_kennismaking.png")
            
      // Adviesplan
      .c7-mb-xxl
        h2.c7-mb 2. Adviesplan
        p.c7-mb Op basis van uw ambitie en uw wensen, maakt onze adviseur samen met u een adviesplan om te komen tot een zinvol en verantwoord financieringsplan. Zorgvuldigheid staat bij ons voorop. 
        figure
          img(src="images/icon_adviesplan.png")
      
      // Kredietaanvraag
      .c7-mb-xxl
        h2.c7-mb 3. Kredietaanvraag ingediend
        p.c7-mb Kunt u zich vinden in ons advies? Dan dienen we de kredietaanvraag in. We putten uit ons uitgebreide netwerk van geldbronnen.
        figure
          img(src="images/icon_kredietaanvraag.png")
            
      // De beste deal kiezen
      .c7-mb-xxl
        h2.c7-mb 4. De beste deal kiezen
        p.c7-mb De ene financiering is de andere niet. Op basis van de kredietaanvraag, komen er financieringsvoorstellen op tafel. Samen kiezen we de meest optimale deal die het best past bij uw ambitie en mogelijkheden. 
        figure
          img(src="images/icon_deal.png")
      
      // Financiering geregeld
      .c7-mb-xxl
        h2.c7-mb 5. Financiering geregeld
        p.c7-mb Gefeliciteerd! Uw financiering is geregeld. We wensen u uiteraard heel veel succes bij het realiseren van uw plannen. 
        figure
          img(src="images/icon_financiering.png")
  
    // Search
    .c7-layout.c7-mb-xxl
      .c7-layout__item.c7-width-m-24-24.c7-text-center
        +site_search()
