extends pug/_layout.pug

block pageTitle

block pageContent

  .c7-wrapper.c7-pt
    .c7-layout.c7-mb-xxl
      
      // Card column
      .c7-layout__item.c7-width-m-12-24
        .c7-layout
          .c7-layout__item.c7-width-m-24-24
            form
              +component_search_bar()
          
        // tabs
        .c7-layout
          .c7-layout__item.c7-width-m-24-24
            nav.c7-tabs.c7-clearfix
              button(onclick="openTab(event, 'mkb')").c7-tabs__link.c7-tabs__active#defaultOpen MKB
              button(onclick="openTab(event, 'agrarisch')").c7-tabs__link Agrarisch
              button(onclick="openTab(event, 'vastgoed')").c7-tabs__link Vastgoed
              button(onclick="openTab(event, 'scheepvaart')").c7-tabs__link Scheepvaart
              
            // Tab MKB
            .c7-tabs__content#mkb
              .c7-layout.c7-layout--stretch.c7-layout--xxsm
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
              .c7-layout.c7-layout--stretch.c7-layout--xxsm
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
              .c7-layout.c7-layout--stretch.c7-layout--xxsm
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
                  
            // Tab agrarisch
            .c7-tabs__content#agrarisch
              .c7-layout.c7-layout--stretch.c7-layout--xxsm
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
              .c7-layout.c7-layout--stretch.c7-layout--xxsm
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
              .c7-layout.c7-layout--stretch.c7-layout--xxsm
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
            
            // Tab vastgoed
            .c7-tabs__content#vastgoed
              .c7-layout.c7-layout--stretch.c7-layout--xxsm
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
              .c7-layout.c7-layout--stretch.c7-layout--xxsm
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
              .c7-layout.c7-layout--stretch.c7-layout--xxsm
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
            
            // Tab scheepvaart
            .c7-tabs__content#scheepvaart
              .c7-layout.c7-layout--stretch.c7-layout--xxsm
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
              .c7-layout.c7-layout--stretch.c7-layout--xxsm
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
              .c7-layout.c7-layout--stretch.c7-layout--xxsm
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
                .c7-layout__item.c7-width-xs-12-24.c7-mb-xxs
                  +component_card_location
 
      // Google maps column
      .c7-layout__item.c7-width-m-12-24
        #googleMap(style="width:100%;height:400px;")
        script(src="scripts/google.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVuTQEvhoGqKQwOJEXvDgIuCl6OiGWEzg&callback=myMap")
