extends pug/_layout.pug

block pageTitle
  title Credion Rotterdam Rijnmond KvO

block pageContent

  +product_page_header()
  
  .c7-wrapper
    .c7-layout.c7-mb-xl
      .c7-layout__item.c7-width-m-24-24
        // Inline navigation
        nav
          +nav-inline()

  .c7-wrapper
    
    // Contact profiles
    .c7-layout.c7-mb-xxl
      - for (var x = 0; x < 3; x++)
        .c7-layout__item.c7-width-s-8-24.c7-width-m-8-24.c7-mb
          +profile()
          
    .c7-layout.c7-layout--xxl
      
      // About this location
      .c7-layout__item.c7-width-s-24-24.c7-width-m-12-24.c7-width-xl-16-24.c7-mb-xxl
        h2.c7-mb Over deze vestiging
        p Met meer dan honderd onafhankelijk adviseurs, verspreid over 40 vestigingen door heel Nederland, kiezen wij er heel bewust voor dichtbij onze klanten te zijn. En dat doen we niet voor niets. Het financieren van ondernemersambities is een serieuze zaak. Wij kennen onze klanten door en door zodat we ze van het best mogelijke advies kunnen voorzien. Al sinds 1999 bieden wij ambitieuze ondernemers toegang tot ons uitgebreide netwerk van geldbronnen en nutten ons specialisme uit om te komen tot de best passende bedrijfsfinanciering. Op maat.	
        p Al onze adviseurs zijn uiterst kundig en geheel onafhankelijk. Zij begeleiden u van het begin tot het eind. Van plan tot realisatie. Van droom tot eerste steen. 
        p We nodigen u van harte uit om kennis te komen maken met een van onze adviseurs.
          | 
          a(href="#" onclick="showForm()") Maak een afspraak.
        +component-testimonial()
      
      .c7-layout__item.c7-width-s-24-24.c7-width-m-12-24.c7-width-xl-8-24.c7-mb-xxl
        
        // News
        section.c7-mb-xl
          h2.c7-h2.c7-mb Nieuws
          +component_card_news()
          +component_card_news()
          +component_card_news()
        
        // Cases
        section
          h2.c7-h2.c7-mb Cases
          +component_card_news()
          +component_card_news()
          
    .c7-layout.c7-layout--xxl.c7-mb
      .c7-layout__item.c7-width-m-24-24
        h2.c7-h2.c7-mb Locatie
        #googleMap(style="width:100%;height:400px;")
        script(src="scripts/google.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVuTQEvhoGqKQwOJEXvDgIuCl6OiGWEzg&callback=myMap")
    
    .c7-layout.c7-mb-xxl
      .c7-layout__item.c7-width-m-24-24
        .c7-card--contact
          div(itemscope itemtype="http://schema.org/LocalBusiness")
            h2(itemprop="name").c7-card--contact__title.c7-mb Credion Rotterdam Rijnmond KvO
            div(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress").c7-mb.c7-card--contact__address
              span(itemprop="streetAddress") Straatnaam 1A
              | ,
              | 
              span(itemprop="postalCode") 1234 AB
              | 
              span(itemprop="addressLocality") Stad
            a(href="#" onclick="showForm()").c7-button.c7-button--large.c7-button--round.c7-button-primary.c7-mb Maak een afspraak
            ul.c7-list--unstyled.c7-mb0
              li.c7-mb0
                a(href="tel:+31612345678" itemprop="telephone").c7-card--contact__phone
                  svg.c7-icon.c7-card--contact__icon(viewBox="0 0 100 100" height="24px")
                    use(xlink:href="#phone")
                  | (0252) 74 41 00
              li.c7-mb0
                a(href="mailto:p.vanderhorst@credion.nl" itemprop="email").c7-card--contact__email
                  svg.c7-icon.c7-card--contact__icon(viewBox="0 0 100 100" height="24px")
                    use(xlink:href="#email")
                  | p.vanderhorst@credion.nl
    
    // Partnerships
    .c7-layout.c7-mb-xl
      .c7-layout__item.c7-width-m-24-24.c7-text-center
        h2 Samenwerkingen
    .c7-layout.c7-text-center
      .c7-layout__item.c7-width-xxs-12-24.c7-width-s-6-24.c7-mb
        img(src="images/logo-ing.png").c7-w-50
      .c7-layout__item.c7-width-xxs-12-24.c7-width-s-6-24.c7-mb
        img(src="images/logo-das.png").c7-w-25
      .c7-layout__item.c7-width-xxs-12-24.c7-width-s-6-24.c7-mb
        img(src="images/logo-fundiq.png").c7-w-50
      .c7-layout__item.c7-width-xxs-12-24.c7-width-s-6-24.c7-mb
        img(src="images/logo-bnp.png").c7-w-50
    .c7-layout.c7-text-center.c7-mb-xxl
      .c7-layout__item.c7-width-xxs-12-24.c7-width-s-6-24.c7-mb
        img(src="images/logo-fundipal.png").c7-w-50
      .c7-layout__item.c7-width-xxs-12-24.c7-width-s-6-24.c7-mb
        img(src="images/logo-triodos.png").c7-w-50
      .c7-layout__item.c7-width-xxs-12-24.c7-width-s-6-24.c7-mb
        img(src="images/logo-sns.png").c7-w-50
      .c7-layout__item.c7-width-xxs-12-24.c7-width-s-6-24.c7-mb
        img(src="images/logo-abnamro.png").c7-w-50
    
    // Contactform
    +product_contactform()
        
