extends pug/_layout.pug

block pageTitle

block pageContent
  
  .c7-wrapper.c7-wrapper--full.c7-background-blue-50
    .c7-wrapper
      .c7-w-max-720.c7-centered.c7-text-center.c7-pv-xxl
        h1.c7-font-white.c7-mb Geldverstrekkers
        p.c7-font-white.c7-mb0 Meer dan 60 geldverstrekkers: wij hebben het grootste netwerk van Nederland

  .c7-wrapper.c7-pt
    .c7-layout.c7-layout--xxsm
      .c7-layout__item.c7-width-s-12-24.c7-width-m-6-24
        .c7-panel.c7-mb-xxs: img(src="images/logo-ing.png")
      .c7-layout__item.c7-width-s-12-24.c7-width-m-6-24
        .c7-panel.c7-mb-xxs: img(src="images/logo-ing.png")
      .c7-layout__item.c7-width-s-12-24.c7-width-m-6-24
        .c7-panel.c7-mb-xxs: img(src="images/logo-ing.png")
      .c7-layout__item.c7-width-s-12-24.c7-width-m-6-24
        .c7-panel.c7-mb-xxs: img(src="images/logo-ing.png")
    .c7-layout.c7-layout--xxsm
      .c7-layout__item.c7-width-s-12-24.c7-width-m-6-24
        .c7-panel.c7-mb-xxs: img(src="images/logo-ing.png")
      .c7-layout__item.c7-width-s-12-24.c7-width-m-6-24
        .c7-panel.c7-mb-xxs: img(src="images/logo-ing.png")
      .c7-layout__item.c7-width-s-12-24.c7-width-m-6-24
        .c7-panel.c7-mb-xxs: img(src="images/logo-ing.png")
      .c7-layout__item.c7-width-s-12-24.c7-width-m-6-24
        .c7-panel.c7-mb-xxs: img(src="images/logo-ing.png")
    
    // Last row
    .c7-layout.c7-layout--xxsm.c7-mb-xxl
      .c7-layout__item.c7-width-s-12-24.c7-width-m-6-24
        .c7-panel.c7-mb-xxs: img(src="images/logo-ing.png")
      .c7-layout__item.c7-width-s-12-24.c7-width-m-6-24
        .c7-panel.c7-mb-xxs: img(src="images/logo-ing.png")
      .c7-layout__item.c7-width-s-12-24.c7-width-m-6-24
        .c7-panel.c7-mb-xxs: img(src="images/logo-ing.png")
      .c7-layout__item.c7-width-s-12-24.c7-width-m-6-24
        .c7-panel.c7-mb-xxs: img(src="images/logo-ing.png")

      
              
