mixin site_search()
  .c7-site--search
    h2.c7-site-header__heading Wij regelen de perfecte financiering voor MKB-ondernemers
    form.c7-site-header__form.c7-m-centered
      fieldset.c7-site-header__label.c7-mb-m Persoonlijk advies? Vind een onafhankelijk adviseur bij u in de buurt:
      +component_search_bar()
