mixin product_menu()
  nav
    .c7-menu.c7-clearfix#js-menu
      
      // Logo
      .c7-menu--item.c7-p0
        a(href="home.html")
          img(src="images/logo-credion.png").c7-menu--item__logo
      
      // payoff
      .c7-menu--item.c7-menu--item__payoff Realiseert bedrijfsfinancieringen
      
      // Mobile toggle and submenu
      .c7-menu--item.c7-menu--item__right
        
        // Open submenu button
        a(href="#" onclick="showMenu()").c7-menu--item__openbutton
          svg(viewBox="0 0 24 24").c7-icon.c7-icon--medium.c7-menu--item__icon
            use(xlink:href="#menu")
          | Menu
        
        // Close submenu button
        a(href="#" onclick="closeMenu()").c7-menu--item__closebutton
          svg(viewBox="0 0 24 24").c7-icon.c7-icon--medium.c7-menu--item__icon
            use(xlink:href="#close")
          | Menu
        
        // Submenu
        ul.c7-list--inline__item.c7-mb0.c7-menu--sub
          li.c7-list--inline__item.c7-menu--sub__item.c7-menu--sub__home
            a(href="home.html").c7-menu--sub__link Home
          li.c7-list--inline__item.c7-menu--sub__item
            a(href="locations.html").c7-menu--sub__link.c7-menu--sub__active Vestigingen
          li.c7-list--inline__item.c7-menu--sub__item
            a(href="howitworks.html").c7-menu--sub__link Hoe het werkt
          li.c7-list--inline__item.c7-menu--sub__item
            a(href="aboutus.html").c7-menu--sub__link Over Credion
