mixin product_socials()  
  a(href="https://www.facebook.com/credion" target="_blank").c7-mr
    img(src="images/icon-facebook.png")
  a(href="https://twitter.com/credion" target="_blank").c7-mr
    img(src="images/icon-twitter.png")
  a(href="https://www.linkedin.com/company-beta/487436" target="_blank").c7-mr
    img(src="images/icon-linkedin.png")
  a(href="https://www.youtube.com/channel/UC6U8tKAjOXqtGrxt57NIv9g" target="_blank")
    img(src="images/icon-youtube.png")
