mixin product_footer()
  .c7-site-footer.c7-mb
    .c7-layout
      .c7-layout__item.c7-width-s-12-24.c7-width-m-6-24
        a(href="#specialismen").c7-site-footer--heading Specialismen
        ul.c7-list.c7-list--unstyled.c7-site-footer--list#specialismen
          li: a.c7-site-footer__link(href="content.html") MKB
          li: a.c7-site-footer__link(href="content.html") Vastgoed
          li: a.c7-site-footer__link(href="content.html") Agrarisch
          li: a.c7-site-footer__link(href="content.html") Scheepvaart
      .c7-layout__item.c7-width-s-12-24.c7-width-m-6-24
        a(href="#financieringen").c7-site-footer--heading Financieringen
        ul.c7-list.c7-list--unstyled.c7-site-footer--list#financieringen
          li: a.c7-site-footer__link(href="content.html") Herfinanciering
          li: a.c7-site-footer__link(href="content.html") Debiteuren
          li: a.c7-site-footer__link(href="content.html") Machines en wagenpark
          li: a.c7-site-footer__link(href="content.html") Bedrijfsovername
          li: a.c7-site-footer__link(href="content.html") Schepen
      .c7-layout__item.c7-width-s-12-24.c7-width-m-6-24
        a(href="#oplossingen").c7-site-footer--heading Oplossingen
        ul.c7-list.c7-list--unstyled.c7-site-footer--list#oplossingen
          li: a.c7-site-footer__link(href="content.html") Bedrijfshypotheek
          li: a.c7-site-footer__link(href="content.html") Bedrijfslening
          li: a.c7-site-footer__link(href="content.html") Leasing
          li: a.c7-site-footer__link(href="content.html") Factoring
          li: a.c7-site-footer__link(href="content.html") Payrolling en krediet
          li: a.c7-site-footer__link(href="content.html") Crowdfunding
          li: a.c7-site-footer__link(href="content.html") Investeerders
      .c7-layout__item.c7-width-s-12-24.c7-width-m-6-24
        .c7-site-footer--bottomborder
          a(href="#samenwerking").c7-site-footer--heading Samenwerking
          ul.c7-list.c7-list--unstyled.c7-site-footer--list#samenwerking
            li: a.c7-site-footer__link(href="content.html") Brancheorganisaties
            li: a.c7-site-footer__link(href="content.html") Landelijke partners
            li: a.c7-site-footer__link(href="content.html") Geldverstrekkers
            li: a.c7-site-footer__link(href="content.html") Regionale partners
            li: a.c7-site-footer__link(href="content.html") Adviseur worden
  .c7-layout.c7-mb
    .c7-layout__item.c7-width-m-24-24
      ul.c7-list--inline.c7-clearfix.c7-site-footer--legal.c7-mb0
        li.c7-list--inline__item.c7-site-footer--legal__item: a(href="content.html").c7-site-footer__link Algemene voorwaarden
        li.c7-list--inline__item.c7-site-footer--legal__item: a(href="content.html").c7-site-footer__link Privacyverklaring
        li.c7-list--inline__item.c7-site-footer--legal__item.c7-site-footer--legal__copyright &#x24B8; Credion 2017
