mixin product_contactform()
  .c7-form--contact#js-form
    form.c7-form--contact__container.c7-mb0
      a(href="#" onclick="closeForm()").c7-form--contact__close
        svg(viewBox="0 0 24 24").c7-icon.c7-icon--medium
          use(xlink:href="#close")
      fieldset.c7-mb0
        h2.c7-form--contact__title.c7-mb-s Vrijblijvend gesprek met Credion adviseur
        
        // Subtekst
        p.c7-font-700.c7-mb0 Bel mij terug voor een afspraak
        p Ik ben te bereiken met de volgende gegevens:
        
        // Telefoonnummer
        .c7-form--field
          label(for="input_number").c7-form--field__label Telefoonnummer
          input#input_number.c7-form--field__input.c7-form__input--text(type="text" placeholder="Telefoonnummer")
        
        // E-mailadres
        .c7-form--field
          label(for="input_email").c7-form--field__label E-mailadres
          input#input_email.c7-form--field__input.c7-form__input--text(type="text" placeholder="E-mailadres")
        
        // Naam
        .c7-form--field
          label(for="input_name").c7-form--field__label Naam
          input#input_name.c7-form--field__input.c7-form__input--text(type="text" placeholder="Naam")
        
        // Bedrijfsnaam
        .c7-form--field
          label(for="input_company").c7-form--field__label Bedrijfsnaam
          input#input_company.c7-form--field__input.c7-form__input--text(type="text" placeholder="Bedrijfsnaam")
        
        // KVK nummer
        .c7-form--field
          label(for="input_kvk").c7-form--field__label KvK-nummer &#40;optioneel&#41;
          input#input_kvk.c7-form--field__input.c7-form__input--text(type="text" placeholder="KvK-nummer (optioneel)")
      
        // Plaats
        .c7-form--field
          label(for="input_place").c7-form--field__label Plaats
          input#input_place.c7-form--field__input.c7-form__input--text(type="text" placeholder="Plaats")
        
        // Nieuwsbrief
        p
          label(for="input_newsletter")
            input(type="checkbox")#input_newsletter
            |
            | Ja, ik meld mij aan voor de Credion nieuwsbrief
          
        // Button
        button.c7-button.c7-button--round.c7-button--large.c7-button-primary.c7-mb-s Maak een afspraak
        p.c7-mb0 We nemen binnen 24 uur contact op
