mixin product_page_header()
  .c7-wrapper.c7-wrapper--full
    // Page header
    .c7-page-header
      
      .c7-wrapper
        .c7-layout
          .c7-layout__item.c7-width-m-24-24
      
            // Contact card
            .c7-page-header--container
              .c7-page-header--container__panel
                +component_card_contact()
          
        
                    
