mixin product_header()
  // Site Header
  .c7-site-header
    .c7-site-header__content
      h1.c7-site-header__heading Wij regelen de perfecte financiering voor MKB-ondernemers
      form.c7-site-header__form.c7-m-centered
        fieldset.c7-site-header__label.c7-mb-m Persoonlijk advies? Vind een onafhankelijk adviseur bij u in de buurt:
        +component_search_bar()
