// ========== Components Tabs

.c7-tabs {
    border-bottom: 1px solid $color-neutral-10;
    margin-bottom: $spacing;
    width: 100%;

  &__link {
    background: $white;
    border: 0;
    color: $color-link-default;
    cursor: pointer;
    display: block;
    float: left;
    font-size: $font-size-60;
    margin: 0 0 -1px 0;
    outline: none;
    padding: 0 0 11px 0;
    text-decoration: none;
    width: 25%;

    &:last-child {
      margin-right: 0;
    }

    &:hover, &:active, &:focus {
      text-decoration: none;
    }

    &:hover {
      border-bottom: 2px solid $color-link-default;
    }

    @include brp-s {
      font-size: $font-size-80;
    }
  }

  &__active {
    border-bottom: 2px solid $color-link-default;
    color: $color-link-default;
    font-weight: bold;

    &:hover {
      color: $color-link-default;
    }
  }

  &__content {
    display: none;
  }
}
