// ========== Components Search

.c7-search {

  &--button {
    padding: 1rem $spacing-l;
    width: 100%;

    @include brp-s {
      bottom: 6px;
      line-height: 1.5em;
      position: absolute;
      right: 4px;
      width: auto;
    }

  }
}
