// ========== Components Buttons

.c7-button {

  &-primary {
    background: $color-secondary;
    color: $white;
    font-weight: bold;
    position: relative;

    &:hover,
    &:focus {
      background: $color-brand;
      color: $white;

      -webkit-box-shadow: 0px 2px 0px 0px darken($color-brand,8%);
      -moz-box-shadow: 0px 2px 0px 0px darken($color-brand,8%);
      box-shadow: 0px 2px 0px 0px darken($color-brand,8%);
    }

    &:visited {
      color: $white;
    }

    &:active {
    }
  }
}
