// ========== Components Profile

.c7-profile {
  display: flex;

  @include brp-s {
    display: block;
    text-align: center;
  }

  &--image {
    margin-right: 1rem;
    max-height: 4rem;
    max-width: 4rem;

    @include brp-s {
      margin-right: 0;
      max-height: 11rem;
      max-width: 11rem;
    }
  }

  &--info {

    &__name, &__email, &__number {
      display: block;
      text-decoration: none;
    }

    &__email {
      color: $color-font-default;
      text-decoration: none;

      @include brp-s {
        margin-bottom: 0.5rem;
      }
    }

    &__number {
      font-size: $font-size-80;
      font-weight: bold;
      
      @include brp-s {
        font-size: 1.25rem;
      }

      &::before {
        background: url('../images/phone.svg');
      }
    }

    &__icon {
      margin: 0 4px -5px 0;
      width: 1.5rem;
    }
  }
}
