// ========== Components Cards

.c7-card {

  // Video card
  &--video {
    align-items: center;
    background: url("../images/hero-branch.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    transition: all .2s linear;
    width: 100%;

    &:hover {
      .c7-card--video__playbutton {
        background: $white;

        &::before {
          border-left: 2rem solid $color-brand;
        }
      }
    }

    &__playbutton {
      border: 4px solid $white;
      border-radius: 100%;
      height: 6rem;
      margin: 2rem 0;
      position: relative;
      transition: all .2s linear;
      width: 6rem;

      &::before {
        border-top: 1.5rem solid transparent;
        border-bottom: 1.5rem solid transparent;
        border-left: 2rem solid $white;
        content: "";
        height: 0;
        left: 50%;
        margin-left: -0.75rem;
        margin-top: -1.5rem;
        position: absolute;
        top: 50%;;
        width: 0;
      }
    }
  }

  // News card
  &--news {
    color: $color-font-default;
    display: block;
    margin-bottom: $spacing;
    text-decoration: none;

    &:hover, &:focus, &active {
      text-decoration: none;
    }

    &__image {
      width: 30%;
    }

    &__date {
      color: $color-neutral-20;
      font-size: $font-size-70;
    }
  }

  // Facts and figures card
  &--factsfigures {
    color: $white;
    min-height: 148px;
    padding: $spacing;
    width: 100%;

    @include brp-s {
      min-height: 176px;
    }

    @include brp-l {
      font-size: $font-size-100;
      min-height: 224px;
      padding: 3rem;
    }

    &__icon {
      margin-left: -6px;
      margin-top: -8px;
    }

    &__blue {
      background-color: $color-blue-50;
    }

    &__green {
      background-color: $color-green-50;
    }

    &__yellow {
      background-color: $color-yellow-50;
    }

    &__video {
      padding: 0;
    }

    &__title {
      font-family: $base-font-family-heading;
      font-size: 1.688rem;
      font-weight: bold;
      margin-bottom: $spacing-s;

      @include brp-s {
        font-size: 2rem;
        line-height: 2.25rem;
        margin-bottom: $spacing-m;
      }
    }
  }


  &--location {
    background: #e8f0ef;
    color: $color-font-default;
    display: block;
    text-decoration: none;
    transition: all .2s linear;

    &__title {
      color: $color-link-default;
      font-weight: bold;
    }

    &__text {
      padding: $spacing;
    }

    &:hover {
      background: $color-blue;
      color: $white;
      text-decoration: none;

      .c7-card--location__title {
        color: $white;
        transition: all .2s linear;
      }
    }
  }

  // Contact card
  &--contact {
    width: 100%;

    &__phone, &__email {
      color: $color-font-default;
      text-decoration: none;
    }

    &__phone {
      display: block;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    &__icon {
      margin: 0 4px -6px 0;
      width: 1.25rem;
    }
  }

  // Category card
  &--category {
    margin-bottom: $spacing-xxs;
    text-decoration: none;
    transition: all .2s linear;

    &:hover {
      background: $color-blue;
      color: $white;
      text-decoration: none;

      .c7-card--category__title {
        color: $white;
        transition: all .2s linear;
      }
    }

    &__link {
      text-decoration: underline;
    }
  }
}
