// ========== Components Testimonials

.c7-testimonial {
  margin-bottom: $spacing;
  text-align: left;
  width: 100%;

  &-image {
    margin-bottom: 3rem;
    position: relative;
  }

  &-profile, &-name {
    position: absolute;
  }

  &-profile {
    border: 4px solid $white;
    border-radius: 100px;
    bottom: -2.25rem;
    height: 4.5rem;
    left: 1rem;
    width: 4.5rem;
  }

  &-name {
    bottom: -2.25rem;
    left: 5.75rem;
  }

  &-quote {
    color: $color-secondary;
    font-size: $font-size-100;
    margin-bottom: 0.75rem;
    padding-right: $spacing;
  }

  &-topic {

  }
}
