body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
fieldset, legend,
figure,
hr {
  margin: 0;
  padding: 0;
}

li > {

  ul,
  ol {
    margin-bottom: 0;
  }

}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: 0;
  min-width: 0; // Reset Chrome and Firefox behaviour which sets a `min-width: min-content;` on fieldsets.
}
