// WOFF & WOFF2 -- Support for Chrome 5+, Safari 5.1+, Firefox 3.6+, Opera 11.50+, IE 9+, Android 4.4+ and iOS 5.1+

@font-face {
  font-family: TeX Gyre Heros;
  src:  url('../fonts/texgyreheros-regular-webfont.woff') format('woff'), url('../fonts/texgyreheros-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: TeX Gyre Heros;
  font-weight: bold;
  font-style: normal;
  src:  url('../fonts/texgyreheros-bold-webfont.woff') format('woff'), url('../fonts/texgyreheros-bold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: TeX Gyre Heros;
  font-weight: bold;
  font-style: italic;
  src:  url('../fonts/texgyreheros-bolditalic-webfont.woff') format('woff'), url('../fonts/texgyreheros-bolditalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: TeX Gyre Heros;
  font-weight: 400;
  font-style: italic;
  src:  url('../fonts/texgyreheros-italic-webfont.woff') format('woff'), url('../fonts/texgyreheros-italic-webfont.woff2') format('woff2');
}
