.c7-page-header {
  background: url('../images/hero-branch.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 1rem;
  padding: 1rem 0;
  width: 100%;

  @include brp-m {
    height: 60vh;
    padding: 0;
  }

  &--container {
    align-items: center;
    display: flex;
    width: 100%;

    @include brp-s {
      justify-content: flex-end;
    }

    @include brp-m {
      height: 60vh;
    }

    &__panel {
      background: $white;
      padding: $spacing;

      @include brp-s {
        width: 50%;
      }

      @include brp-m {
        padding: $spacing-l;
      }

      @include brp-l {
        width: 40%;
      }

      @include brp-xl {
        margin: 0;
      }
    }
  }
}
