.c7-site--search {
  width: 100%;
  
  @include brp-s {
    margin: 0 auto;
    width: 90%;
  }
  
  @include brp-m {
    width: 80%;
  }
  
  @include brp-l {
    width: 70%;
  }
  
  @include brp-xl {
    width: 60%;
  }
}
