.c7-site-header {
  padding: $spacing;
  position: relative;

  @include brp-s {
    background: url('../images/hero-home.png');
    background-size: cover;
    height: 16.75rem;
    margin-bottom: 9.125rem;
    padding: 0 $spacing-m;
  }

  @include brp-m {
    height: 60vh;
    margin-bottom: 11.125rem;
  }

  &__content {
    text-align: center;

    @include brp-s {
      bottom: -4.9375rem;
      left: 50%;
      margin-left: -45vw;
      position: absolute;
      max-width: 90vw;
    }

    @include brp-m {
      bottom: -4.9375rem;
      left: 50%;
      margin-left: -40vw;
      max-width: 80vw;
      position: absolute;
    }

    @include brp-l {
      margin-left: -30vw;
      max-width: 60vw;
    }

    @include brp-xl {
      margin-left: -20vw;
      max-width: 40vw;
    }
  }

  &__heading {
    margin-bottom: $spacing;

    @include brp-s {
      background: rgba($white, .8);
      box-shadow: 0 0 100px 40px rgba($white, .9);
    }
  }

  &__form {
    background: $color-brand-50;
    display: block;
    padding: $spacing $spacing 1rem $spacing;
    position: relative;
  }

  &__label {
    color: $white;
    font-weight: bold;
    text-align: center;
  }
}
