.c7-modal-is-open {
  right: 0;
  left: 0;
  position: fixed; 
}

.c7-form--contact {
  background: rgba(0,0,0,0.8);
  bottom: 0;
  display: none;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 100;

  &__open {
    display: block;
  }

  &__container {
    background-color: $white;
    display: inline-block;
    padding: $spacing;
    position: relative;
    text-align: left;
    width: 100vw;

    @include brp-s {
      margin-top: $spacing-xl;
      width:70vw;
    }

    @include brp-m {
      padding: $spacing-xl;
      width: 60vw;
    }

    @include brp-l {
      width: 50vw;
    }

    @include brp-xl {
      width: 40vw;
    }
  }

  &__close {
    right: $spacing-s;
    position: absolute;
    top: $spacing-s;

    @include brp-s {
      right: $spacing-xs;
      top: $spacing-xs;
    }
  }
  
  &__title {
    padding-right: 2rem;
  }
}

.c7-form--field {
  position: relative;
}
.c7-form--field__label {
  color: $color-neutral-30;
  box-sizing: border-box;
  display: block;
  font-size: .8125em;
  line-height: 1;
  opacity: 0;
  overflow: hidden;
  padding: 0.75rem 1rem;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  text-align: left;
  transform: translateY(3px);
  transition: all .2s ease-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  z-index: 1;
  
  .c7-form--field--not-empty & {
    opacity: 1;
    transform: none;
  }
}
.c7-form--field__input {
  background-color: $white;
  border: 1px solid $color-neutral-10;
  margin-bottom: 0.5rem;
  padding: 1.25rem 1rem;
  transition: all .2s ease-out;
  width: 100%;

  .c7-form--field--not-empty & {
    padding-bottom: 0.75rem;
    padding-top: 1.75rem;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $color-font-default;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $color-font-default;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $color-font-default;
}
:-moz-placeholder { /* Firefox 18- */
  color: $color-font-default;
}
