.c7-site-footer {

  @include brp-s {
    border: 1px solid $color-neutral-10;
    border-left: 0;
    border-right: 0;
  }

  &--heading {
    border-top: 1px solid $color-neutral-10;
    cursor: pointer;
    display: block;
    font-family: $base-font-family-heading;
    font-size: $font-size-80;
    font-weight: bold;
    line-height: 1.5em;
    outline: none;
    padding: $spacing 0;
    position: relative;
    text-decoration: none;
    
    @include brp-s {
      cursor: text;
    }

    &:hover, &:visited, &:focus, &:active {
      text-decoration: none;
    }

    @include brp-s {
      border: 0;
      font-size: $heading-size-4;
      font-weight: normal;
      line-height: 1em;
    }
  }
  
  &--bottomborder {
    border-bottom: 1px solid $color-neutral-10;
    
    @include brp-s {
      border: 0;
    }
  }

  &--list {
    display: none;
    
    &:target {
      display: block;
    }
  
    @include brp-s {
      display: block;
    }
  }

  &__link {
    color: $color-neutral-50;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-brand-50;
      text-decoration: underline;
    }
  }

  &--legal {
    width: 100%;

    &__item {
      display: block;

      @include brp-s {
        display: inline-block;
        padding-right: 20px;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    &__copyright {
      float: none;

      @include brp-l {
        float: right;
      }
    }
  }
}
