.c7-menu {
  background: $white;
  padding: 0 $spacing-s;
  position: relative;

  @include brp-s {
    padding: 0 $spacing;
  }

  &--open {
    .c7-menu--sub {
      display: block;
    }

    .c7-menu--item__openbutton {
      display: none;
    }

    .c7-menu--item__closebutton {
      display: inline-block;
    }
  }

  &--item {
    display: inline-block;

    &__logo {
      height: 4.5rem;
      margin: 0.5rem $spacing 0.5rem 0;
    }

    &__payoff {
      display: none;

      @include brp-m {
        display: inline-block;
        font-style: italic;
        font-weight: bold;
      }
    }

    &__right {
      float: right;
    }

    &__openbutton, &__closebutton {
      color: $color-font-default;
      display: inline-block;
      padding: 2rem 0;
      text-decoration: none;

      &:active, &focus {
        color: $color-font-default;
        text-decoration: none;
      }
    }

    &__openbutton {

      @include brp-s {
        display: none;
      }
    }

    &__closebutton {
      display: none;
    }

    &__icon {
      margin: 0 4px -6px 0;
    }
  }

  &--sub {
    background: $white;
    border-top: 1px solid $color-neutral-10;
    display: none;
    height: 100vh;
    left: 0;
    padding: $spacing;
    padding-top: 1rem;
    position: absolute;
    top: 88px;
    width: 100%;

    @include brp-s {
      border: 0;
      display: block;
      height: auto;
      padding: 0;
      position: static;
      width: auto;
    }

    &__item {
      display: block;

      @include brp-s {
        display: inline;
      }
    }

    &__link {
      color: $color-font-default;
      display: block;
      padding: 0.5rem 0;
      position: relative;
      text-decoration: none;

      @include brp-s {
        display: inline-block;
        padding: 2rem 0;
      }

      &:hover, &:active, &:focus {
        color: $color-font-default;
        text-decoration: none;
      }

      &:hover {

        @include brp-s {
          &::after {
            border-bottom: 2px solid $color-font-default;
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            width: 100%;
          }
        }
      }
    }

    &__home {

      @include brp-s {
        display: none;
      }
    }

    &__active {

      @include brp-s {
        font-weight: bold;

        &::after {
          border-bottom: 2px solid $color-font-default;
          bottom: 0;
          content: "";
          left: 0;
          position: absolute;
          width: 100%;
        }
      }
    }
  }
}
