a {
  color: $color-link-default;
  cursor: pointer;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $color-link-hover;
    text-decoration: underline;
  }

  &:visited {
    //color: $color-link-visited; // TODO
  }
}
