html {
  background-color: $base-background-color;
  color: $color-font-default;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: $base-line-height;
  min-height: 100%;
  overflow: auto;
}

main {
  padding-top: 88px;
}
