h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font-family-heading;
  font-weight: normal;
  line-height: 1.25em;
}

h2,
h3,
h4,
h5,
h6 {
  color: #547295;
}

h1 {
  color: $color-font-headings;
  font-size: $heading-size-3;
  font-weight: bold;

  @include brp-s {
    font-size: $heading-size-2;
  }

  @include brp-m {
    font-size: $heading-size-1;
  }
}

h2 {
  font-size: $heading-size-4;
  font-weight: bold;

  @include brp-s {
    font-size: $heading-size-3;
  }

  @include brp-m {
    font-size: $heading-size-2;
  }
}

h3 { font-size: $heading-size-3; }
h4 { font-size: $heading-size-4; }
h5 { font-size: $heading-size-5; }
h6 { font-size: $heading-size-6; }
