img {
  font-style: italic;
  max-width: 100%;
  vertical-align: middle;

  &[height],
  &[width] {
    max-width: none;
  }
}

figcaption {
  background-color: $color-neutral;
  padding: $spacing-xs $spacing-s;
}
