// Margins

.c7-m-xxs  { margin: $spacing-xxs !important; }
.c7-mt-xxs { margin-top: $spacing-xxs !important; }
.c7-mr-xxs { margin-right: $spacing-xxs !important; }
.c7-mb-xxs { margin-bottom: $spacing-xxs !important; }
.c7-ml-xxs { margin-left: $spacing-xxs !important; }
.c7-mv-xxs { margin-top: $spacing-xxs !important; margin-bottom: $spacing-xxs !important; }
.c7-mh-xxs { margin-left: $spacing-xxs !important; margin-right: $spacing-xxs !important; }

.c7-m-xs  { margin: $spacing-xs !important; }
.c7-mt-xs { margin-top: $spacing-xs !important; }
.c7-mr-xs { margin-right: $spacing-xs !important; }
.c7-mb-xs { margin-bottom: $spacing-xs !important; }
.c7-ml-xs { margin-left: $spacing-xs !important; }
.c7-mv-xs { margin-top: $spacing-xs !important; margin-bottom: $spacing-xs !important; }
.c7-mh-xs { margin-left: $spacing-xs !important; margin-right: $spacing-xs !important; }

.c7-m-s  { margin: $spacing-s !important; }
.c7-mt-s { margin-top: $spacing-s !important; }
.c7-mr-s { margin-right: $spacing-s !important; }
.c7-mb-s { margin-bottom: $spacing-s !important; }
.c7-ml-s { margin-left: $spacing-s !important; }
.c7-mv-s { margin-top: $spacing-s !important; margin-bottom: $spacing-s !important; }
.c7-mh-s { margin-left: $spacing-s !important; margin-right: $spacing-s !important; }

.c7-m-m  { margin: $spacing-m !important; }
.c7-mt-m { margin-top: $spacing-m !important; }
.c7-mr-m { margin-right: $spacing-m !important; }
.c7-mb-m { margin-bottom: $spacing-m !important; }
.c7-ml-m { margin-left: $spacing-m !important; }
.c7-mv-m { margin-top: $spacing-m !important; margin-bottom: $spacing-m !important; }
.c7-mh-m { margin-left: $spacing-m !important; margin-right: $spacing-m !important; }

.c7-m  { margin: $spacing !important; }
.c7-mt { margin-top: $spacing !important; }
.c7-mr { margin-right: $spacing !important; }
.c7-mb { margin-bottom: $spacing !important; }
.c7-ml { margin-left: $spacing !important; }
.c7-mv { margin-top: $spacing !important; margin-bottom: $spacing !important; }
.c7-mh { margin-left: $spacing !important; margin-right: $spacing !important; }

.c7-m-l  { margin: $spacing-l !important; }
.c7-mt-l { margin-top: $spacing-l !important; }
.c7-mr-l { margin-right: $spacing-l !important; }
.c7-mb-l { margin-bottom: $spacing-l !important; }
.c7-ml-l { margin-left: $spacing-l !important; }
.c7-mv-l { margin-top: $spacing-l !important; margin-bottom: $spacing-l !important; }
.c7-mh-l { margin-left: $spacing-l !important; margin-right: $spacing-l !important; }

.c7-m-xl  { margin: $spacing-xl !important; }
.c7-mt-xl { margin-top: $spacing-xl !important; }
.c7-mr-xl { margin-right: $spacing-xl !important; }
.c7-mb-xl { margin-bottom: $spacing-xl !important; }
.c7-ml-xl { margin-left: $spacing-xl !important; }
.c7-mv-xl { margin-top: $spacing-xl !important; margin-bottom: $spacing-xl !important; }
.c7-mh-xl { margin-left: $spacing-xl !important; margin-right: $spacing-xl !important; }

.c7-m-xxl  { margin: $spacing-xl $spacing-xl !important; }
.c7-mt-xxl { margin-top: $spacing-xl !important; }
.c7-mr-xxl { margin-right: $spacing-xl !important; }
.c7-mb-xxl { margin-bottom: $spacing-xl !important; }
.c7-ml-xxl { margin-left: $spacing-xl !important; }
.c7-mv-xxl { margin-top: $spacing-xl !important; margin-bottom: $spacing-xl !important; }
.c7-mh-xxl { margin-left: $spacing-xl !important; margin-right: $spacing-xl !important; }

@include brp-m {
  .c7-m-xxl  { margin: $spacing-xxl $spacing-xxl !important; }
  .c7-mt-xxl { margin-top: $spacing-xxl !important; }
  .c7-mr-xxl { margin-right: $spacing-xxl !important; }
  .c7-mb-xxl { margin-bottom: $spacing-xxl !important; }
  .c7-ml-xxl { margin-left: $spacing-xxl !important; }
  .c7-mv-xxl { margin-top: $spacing-xxl !important; margin-bottom: $spacing-xxl !important; }
  .c7-mh-xxl { margin-left: $spacing-xxl !important; margin-right: $spacing-xxl !important; }
}

// Remove margins
.c7-m0  { margin: 0 !important; }
.c7-mt0 { margin-top: 0 !important; }
.c7-mr0 { margin-right: 0 !important; }
.c7-mb0 { margin-bottom: 0 !important; }
.c7-ml0 { margin-left: 0 !important; }
.c7-mh0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.c7-mv0 { margin-right: 0 !important; margin-left: 0 !important; }


// Centered
.c7-m-centered { margin: 0 auto; }

// Paddings
.c7-p-s  { padding: $spacing-s !important; }
.c7-pt-s { padding-top: $spacing-s !important; }
.c7-pr-s { padding-right: $spacing-s !important; }
.c7-pb-s { padding-bottom: $spacing-s !important; }
.c7-pl-s { padding-left: $spacing-s !important; }
.c7-pv-s { padding-top: $spacing-s !important; padding-bottom: $spacing-s !important; }
.c7-ph-s { padding-left: $spacing-s !important; padding-right: $spacing-s !important; }

.c7-p  { padding: $spacing !important; }
.c7-pt { padding-top: $spacing !important; }
.c7-pr { padding-right: $spacing !important; }
.c7-pb { padding-bottom: $spacing !important; }
.c7-pl { padding-left: $spacing !important; }
.c7-pv { padding-top: $spacing !important; padding-bottom: $spacing !important; }
.c7-ph { padding-left: $spacing !important; padding-right: $spacing !important; }

.c7-p-l  { padding: $spacing-l !important; }
.c7-pt-l { padding-top: $spacing-l !important; }
.c7-pr-l { padding-right: $spacing-l !important; }
.c7-pb-l { padding-bottom: $spacing-l !important; }
.c7-pl-l { padding-left: $spacing-l !important; }
.c7-pv-l { padding-top: $spacing-l !important; padding-bottom: $spacing-l !important; }
.c7-ph-l { padding-left: $spacing-l !important; padding-right: $spacing-l !important; }

.c7-p-xl  { padding: $spacing-xl !important; }
.c7-pt-xl { padding-top: $spacing-xl !important; }
.c7-pr-xl { padding-right: $spacing-xl !important; }
.c7-pb-xl { padding-bottom: $spacing-xl !important; }
.c7-pl-xl { padding-left: $spacing-xl !important; }
.c7-pv-xl { padding-top: $spacing-xl !important; padding-bottom: $spacing-xl !important; }
.c7-ph-xl { padding-left: $spacing-xl !important; padding-right: $spacing-xl !important; }

.c7-pt-xxl { padding-top: $spacing-xxl !important; }
.c7-pv-xxl { padding-top: $spacing-xxl !important; padding-bottom: $spacing-xxl !important; }

// Remove paddings
.c7-p0  { padding: 0 !important; }
.c7-pt0 { padding-top: 0 !important; }
.c7-pr0 { padding-right: 0 !important; }
.c7-pb0 { padding-bottom: 0 !important; }
.c7-pl0 { padding-left: 0 !important; }
.c7-ph0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.c7-pv0 { padding-right: 0 !important; padding-left: 0 !important; }
