// Borders
.c7-b                     { border: 1px solid $color-neutral !important; }
.c7-bt                    { border-top: 1px solid $color-neutral !important; }
.c7-br                    { border-right: 1px solid $color-neutral !important; }
.c7-bb                    { border-bottom: 1px solid $color-neutral!important; }
.c7-bl                    { border-left: 1px solid $color-neutral !important; }

.c7-bv                    {
                            border-bottom: 1px solid $color-neutral !important;
                            border-top: 1px solid $color-neutral !important;
                          }

// Borders removal
.c7-b-0                   { border: none !important; }
.c7-bt-0                  { border-top: none !important; }
.c7-br-0                  { border-right: none !important; }
.c7-bb-0                  { border-bottom: none !important; }
.c7-bl-0                  { border-left: none !important; }

// Border-radius
.c7-border-radius-0       { border-radius: 0; }
.c7-border-radius-1       { border-radius: .25rem; }
.c7-border-radius-2       { border-radius: .5rem; }
.c7-border-radius-3       { border-radius: .75rem; }
.c7-border-radius-4       { border-radius: 1rem; }
.c7-circle                { border-radius: 100%; }

.c7-border-radius-bottom {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.c7-border-radius-top {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.c7-border-radius-right {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.c7-border-radius-left {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
