@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% { transform: translateY(-5px); }
  60% { transform: translateY(-2px); }
}

@keyframes opacity {

  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes scale {

  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}

@keyframes spin {

  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.c7-ani-bounce { animation: bounce 2s infinite; }
.c7-ani-opacity { animation: opacity normal 2s infinite ease-in-out; }
.c7-ani-scale { animation: scale 1.4s infinite ease-in-out both; }
.c7-ani-spin { animation: spin 2s linear infinite; }
