.c7-cursor-crosshair    { cursor: crosshair; }
.c7-cursor-help         { cursor: help; }
.c7-cursor-move         { cursor: move;}
.c7-cursor-not-allowed  { cursor: not-allowed; }
.c7-cursor-pointer      { cursor: pointer;}
.c7-cursor-wait         { cursor: wait; }
