.c7-block         { display: block !important; }
.c7-inline-block  { display: inline-block !important; }
.c7-inline        { display: inline !important; }
.c7-flex          { display: flex !important; }
.c7-table         { display: table !important; }
