// Percentage widths
.c7-w-10     { width:  10% !important; }
.c7-w-20     { width:  20% !important; }
.c7-w-25     { width:  30% !important; }
.c7-w-40     { width:  40% !important; }
.c7-w-50     { width:  50% !important; }
.c7-w-60     { width:  60% !important; }
.c7-w-70     { width:  70% !important; }
.c7-w-80     { width:  80% !important; }
.c7-w-80     { width:  90% !important; }
.c7-w-100    { width: 100% !important; }

.c7-w-25     { width:  25% !important; }
.c7-w-33     { width:  33.33% !important; }
.c7-w-66     { width:  66.66% !important; }
.c7-w-75     { width:  75% !important; }

// Max width
.c7-w-max-240 { max-width: 240px; }
.c7-w-max-480 { max-width: 480px; }
.c7-w-max-680 { max-width: 680px; }
.c7-w-max-720 { max-width: 720px; }
.c7-w-max-800 { max-width: 800px; }
.c7-w-max-960 { max-width: 960px; }

.c7-centered {
  margin-left: auto;
  margin-right: auto
}



@include brp-xxs {
  @for $i from 1 through $grid-columns {
    .c7-width-xxs-#{$i}-#{$grid-columns} {
      width: 100% / $grid-columns * $i;
    }
  }
}

@include brp-xs {
  @for $i from 1 through $grid-columns {
    .c7-width-xs-#{$i}-#{$grid-columns} {
      width: 100% / $grid-columns * $i;
    }
  }
}

@include brp-s {
  @for $i from 1 through $grid-columns {
    .c7-width-s-#{$i}-#{$grid-columns} {
      width: 100% / $grid-columns * $i;
    }
  }
}

@include brp-m {
  @for $i from 1 through $grid-columns {
    .c7-width-m-#{$i}-#{$grid-columns} {
      width: 100% / $grid-columns * $i;
    }
  }
}

@include brp-l {
  @for $i from 1 through $grid-columns {
    .c7-width-l-#{$i}-#{$grid-columns} {
      width: 100% / $grid-columns * $i;
    }
  }
}

@include brp-xl {
  @for $i from 1 through $grid-columns {
    .c7-width-xl-#{$i}-#{$grid-columns} {
      width: 100% / $grid-columns * $i;
    }
  }
}

@include brp-xxl {
  @for $i from 1 through $grid-columns {
    .c7-width-xxl-#{$i}-#{$grid-columns} {
      width: 100% / $grid-columns * $i;
    }
  }
}
