// Font
.c7-font-default       { color: $color-font-default !important; }

.c7-font-black       { color: $black !important; }
.c7-font-white       { color: $white !important; }
.c7-font-brand   { color: $color-brand !important; }
.c7-font-neutral  { color: $color-neutral !important; }

// Background
.c7-background-white      { background-color: $white !important; }
.c7-background-brand-50   { background-color: $color-brand !important; }
.c7-background-blue-50 { background-color: $color-blue-50 !important; }
