.c7-font-400      { font-weight: 400 !important; }
.c7-font-700      { font-weight: 700 !important; }
.c7-uppercase       { text-transform: uppercase !important;}
.c7-lowercase       { text-transform: lowercase !important; }
.c7-capitalize      { text-transform: capitalize !important; }
.c7-del             { text-decoration: line-through !important; }
.c7-text-left       { text-align: left !important; }
.c7-text-right      { text-align: right !important; }
.c7-text-center     { text-align: center !important; }
.c7-text-justify    { text-align: justify !important; }
.c7-text-nowrap     { white-space: nowrap; }

// Headings
.c7-h1 {
  color: $color-font-headings;
  font-family: $base-font-family-heading;
  font-weight: bold;
  line-height: 1em;
}

.c7-h2,
.c7-h3,
.c7-h4,
.c7-h5,
.c7-h6 {
  color: #547295;
  font-family: $base-font-family-heading;
  font-weight: bold;
  line-height: 1em;
}

.c7-h1 { font-size: $heading-size-1; }
.c7-h2 { font-size: $heading-size-2; }
.c7-h3 { font-size: $heading-size-3; }
.c7-h4 { font-size: $heading-size-4; }
.c7-h5 { font-size: $heading-size-5; }
.c7-h6 { font-size: $heading-size-6; }
