.c7-media {
  @include clearfix();
  display: block;
}

.c7-media__img {
  float: left;
  margin-right: $spacing-m;

  > img {
    display: block;
  }
}

.c7-media__body {
  overflow: hidden;
  display: block;

  &,
  > :last-child {
    margin-bottom: 0;
  }
}

.c7-media--flush {

  > .c7-media__img {
    margin-right: 0;
    margin-left: 0;
 }
}

.c7-media--reverse {

  > .c7-media__img {
    float: right;
    margin-right: 0;
    margin-left: $spacing-m;
  }
}
