.c7-list {

  &--inline,
  &--unstyled {
    list-style: none;
  }

  &--inline {

    &__item {
      display: inline-block;
      padding-right: 20px;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  li {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    > a {
      text-decoration: none;
    }
  }
}
