.c7-form__input--text, // TODO
.c7-form__input--select {
  -webkit-appearance: none;
  border: 1px solid $color-neutral-10;
  border-radius: 0.25rem;
  color: inherit;
  display: block;
  font-family: $base-font-family;
  line-height: $base-line-height;
  margin-bottom: 0.5rem;
  padding: 1rem;
  position: relative;
  transition: .5s all;
  vertical-align: baseline;
  width: 100%;
  z-index: 0;

  @include brp-s {
    margin-bottom: 0;
    padding: $spacing;
  }

  &:focus {
    border-color: $color-neutral;
    outline: none;
  }

  &[disabled],
  &[readonly] {
    background-color: $color-neutral;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &[multiple] {
    height: auto;
  }

  + .c7-form__helptext {
    margin-top: -$spacing-m;
  }
}

textarea.c7-form__input--text {
  height: auto;
  padding: .5rem;
}

.c7-form__field-label {
  display: block;
  margin-bottom: $spacing-xs;

  &-is-required::after {
    color: red;
    content: ' *';
  }
}

.c7-form-radio-check { // TODO
  left: -1.25rem;
  position: absolute;
  top: .125rem;
}

.c7-form-radio-check-label { // TODO
  display: block;
  margin-bottom: .5rem;
  margin-left: 1.5rem;
  position: relative;
}

.c7-form__helptext {
  font-size: $font-size-70;
  margin-bottom: .25rem;
  line-height: 1.25rem;
}

.c7-form-group {
  margin-top: -.425rem;
}

.c7-form-group-button,
.c7-form-group-input {
  color: $color-font-default;
  float: left;
  font-weight: bold;
}

.c7-form-group-button {
  background: $white;
  border: 1px solid #cfcfcf;
  height: 2.25rem;
  outline: none;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 2rem;

  &:first-child {
    margin-right: -1px;
  }

  &:last-child {
    margin-left: -1px;
  }

  &:hover,
  &:focus,
  &:active {
    color: #444;
  }

  &:focus {
    border: 1px solid #ccc;
    outline: none;
  }
}

.c7-form-group-input {
  box-shadow: none;
  height: 2.25rem;
  min-width: inherit;
  text-align: center;
  width: 2.5rem;
}
