.c7-button {
  border: 0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: all .2s linear;
  
  -webkit-box-shadow: 0px 2px 0px 0px darken($color-secondary,8%);
  -moz-box-shadow: 0px 2px 0px 0px darken($color-secondary,8%);
  box-shadow: 0px 2px 0px 0px darken($color-secondary,8%);

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &--disabled {
    opacity: .4;
    pointer-events: none;
  }

  &--small {
    padding: .60rem;
  }

  &--medium {
    padding: .60rem;
  }

  &--large {
    padding: 1rem 2rem;
  }

  &--round {
    border-radius: 0.25rem;
  }

  &--full {
    display: block;
    width: 100%;
  }
}
