.c7-wrapper {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
  padding-left: $spacing-s;
  padding-right: $spacing-s;

  @include brp-s {
    padding-left: $spacing;
    padding-right: $spacing;
  }
}

.c7-wrapper--big {
  max-width: 1600px;
}

.c7-wrapper--flush {
  padding-left: 0;
  padding-right: 0;
}

.c7-wrapper--full {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
