.c7-embed {
  @extend %margin-bottom;

  &__caption {
    background-color: $color-neutral;
    padding: $spacing-xs $spacing-s;
  }

  &__container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
  }

  &__iframe {
    height: 100% !important;
    left: 0;
    position: absolute;
    top: 0;
    width: 100% !important;
  }
}
