// Amount of columns
$grid-columns: 24;

// Grid container
.c7-layout {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0;
  margin-left: -$spacing;
  padding: 0;

  &__item {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    padding-left: $spacing;
    vertical-align: top;
    width: 100%;
  }
}

// Gutter size
.c7-layout--xxsm {
  margin-left: -$spacing-xxs;

  .c7-layout__item {
    padding-left: $spacing-xxs;
  }
}

// Gutter size
.c7-layout--xsm {
  margin-left: -$spacing-xs;

  .c7-layout__item {
    padding-left: $spacing-xs;
  }
}

// Gutter size
.c7-layout--sm {
  margin-left: -$spacing-s;

  .c7-layout__item {
    padding-left: $spacing-s;
  }
}

.c7-layout--l {
  margin-left: -$spacing-l;

  .c7-layout__item {
    padding-left: $spacing-l;
  }
}

.c7-layout--xl {
  margin-left: -$spacing-xl;

  .c7-layout__item {
    padding-left: $spacing-xl;
  }
}

.c7-layout--xxl {
  margin-left: -$spacing-xxl;

  .c7-layout__item {
    padding-left: $spacing-xxl;
  }
}

.c7-layout--flush {
  margin-left: 0;

  > .c7-layout__item {
    padding-left: 0;
  }
}

.c7-layout--center {
  text-align: center;

  > .c7-layout__item {
    text-align: left;
  }
}

.c7-layout--stretch {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  > .c7-layout__item {
    display: flex;
  }
}
