// ========== Components Icons

.c7-icon {
  fill: currentColor;

  &--small {
    height: 1rem;
    width: 1rem;
  }

  &--medium {
    height: 1.5rem;
    width: 1.5rem;
  }

  &--large {
    height: 2rem;
    width: 2rem;
  }

  &--extralarge {
    height: 3rem;
    width: 3rem;
  }
}
