mixin button_primary(text, link)
  - var link = (typeof link === 'undefined') ? "#" : link
  a.c7-button.c7-button-primary.c7-button--large(href=link)= text

mixin button_secondary(text, link)
  - var link = (typeof link === 'undefined') ? "#" : link
  a.c7-button.c7-button-secondary.c7-button--large(href=link)= text

mixin button_neutral(text, link)
  - var link = (typeof link === 'undefined') ? "#" : link
  a.c7-button.c7-button-neutral.c7-button--large(href=link)= text

mixin button_disabled(text, link)
  - var link = (typeof link === 'undefined') ? "#" : link
  a.c7-button.c7-button-primary.c7-button--large.c7-button--disabled(href=link)= text

mixin button_primary_icon(text, link)
  - var link = (typeof link === 'undefined') ? "#" : link
  a.c7-button.c7-button-primary.c7-button--large(href=link class!=attributes.class)
    svg(viewBox="0 0 24 24").c7-icon.c7-icon--small
      use(xlink:href="#shoppingcart")
    | 
    | !{text}

mixin button_moreresults(text, link)
  - var link = (typeof link === 'undefined') ? "#" : link
  a.c7-button.c7-button-neutral.c7-button--large.c7-button--full(href=link)= text

mixin button_secondary_shopping()
  a.c7-button.c7-button-neutral.c7-button-shopping(href="#")
    svg(viewBox="0 0 24 24").c7-icon.c7-icon-medium
      use(xlink:href="#shoppingcart")
    .c7-button-shopping-amount 13

mixin button_primary_shopping_inverse(text, link)
  - var link = (typeof link === 'undefined') ? "#" : link
  a.c7-button.c7-button-inverse.c7-button--large.c7-mb0(href=link class!=attributes.class)
    svg(viewBox="0 0 24 24").c7-icon.c7-icon-medium
      use(xlink:href="#shoppingcart")
    | 
    | !{text}
