mixin component_card_location()
  a(href="locations_detail.html").c7-card--location
    figure.c7-mb0
      img(src="images/location_example.jpg")
    .c7-card--location__text
      .c7-card--location__title.c7-mb Credion Nederland
      .c7-card--location__street
        | Business Park Friesland-West 27a
      .c7-card--location__ziptown
        | 8447 SL Heerenveen
