mixin component_card_news()
  a(href="content.html").c7-media.c7-card--news
    .c7-media__img.c7-card--news__image
      img(src="images/hero-branch.jpg")
    .c7-media__body
      .c7-card--news__title Credion en de Online Bedrijfsmakelaar slaan de handen ineen
      .c7-card--news__date
        | 7 juni
