mixin component_card_category(title)
  a(href="content.html").c7-card--category.c7-panel
    h2.c7-card--category__title.c7-mb= title
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet placerat enim. Phasellus dui est, dictum vehicula tempor nec, rutrum vel tellus. Sed egestas molestie urna.
    .c7-card--category__link Meer over '#{title}'
