mixin component_card_contact()
  .c7-card--contact
    div(itemscope itemtype="http://schema.org/LocalBusiness")
      h1(itemprop="name").c7-card--contact__title.c7-mb.c7-h2 Credion Rotterdam Rijnmond KvO
      div(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress").c7-mb.c7-card--contact__address
        span(itemprop="streetAddress") Straatnaam 1A
        | ,
        | 
        span(itemprop="postalCode") 1234 AB
        | 
        span(itemprop="addressLocality") Stad
      a(href="#" onclick="showForm()").c7-button.c7-button--large.c7-button--round.c7-button-primary.c7-mb Maak een afspraak
      ul.c7-list--unstyled.c7-mb0
        li.c7-mb0
          a(href="tel:+31612345678" itemprop="telephone").c7-card--contact__phone
            svg.c7-icon.c7-card--contact__icon(viewBox="0 0 100 100" height="24px")
              use(xlink:href="#phone")
            | (0252) 74 41 00
        li.c7-mb0
          a(href="mailto:p.vanderhorst@credion.nl" itemprop="email").c7-card--contact__email
            svg.c7-icon.c7-card--contact__icon(viewBox="0 0 100 100" height="24px")
              use(xlink:href="#email")
            | p.vanderhorst@credion.nl
