mixin forms_textfield(label, helptext)
  - var label = (typeof label === 'undefined') ? "Label" : label
  label(for="textfield").c7-form-field-label.c7-form-field-label-is-required= label
  input#textfield.c7-form-input-text(type="text")&attributes(attributes)
  p.c7-form-helptext= helptext

mixin forms_textfield_disabled(label, helptext)
  - var label = (typeof label === 'undefined') ? "Label" : label
  label(for="textfield").c7-form-field-label.c7-form-field-label-is-required= label
  input#textfield.c7-form-input-text(type="text" disabled)&attributes(attributes)
  p.c7-form-helptext= helptext

mixin forms_textarea()
  label(for="textarea").c7-form-field-label Describe your experience on Mount Everest
  textarea#textarea.c7-form-input-text(cols="50" rows="5")&attributes(attributes)

mixin forms_radiobutton(label)
  label.c7-form-radio-check-label.c7-mr-s
    input.c7-form-radio-check(type="radio")&attributes(attributes)
    if label
      =label
    else
      | Value

mixin forms_checkbox(label)
  label.c7-form-radio-check-label.c7-mr-s
    input.c7-form-radio-check(type="checkbox")&attributes(attributes)
    if label
      =label
    else
      | Value

mixin forms_radiobutton-group(name, ...labels)
  if name
    span.c7-block.c7-form-field-label= name
    each label in labels
      +forms_radiobutton(label, name=name, value=label)
  else
    +forms_radiobutton(name="course" value="toprope", checked)
      | Toprope course
    +forms_radiobutton(name="course", value="leadclimbing")
      | Leadclimbing course
    +forms_radiobutton(name="course", value="technicalclimbing")
      | Technicalclimbing course

mixin forms_checkbox-group(name, ...labels)
  if name
    span.c7-block.c7-form-field-label= name
    each label in labels
      +forms_checkbox(label, name=name, value=label)
  else
      +forms_checkbox(name="course", value="toprope", checked)
        | Toprope course
      +forms_checkbox(name="course", value="leadclimbing")
        | Leadclimbing course
      +forms_checkbox(name="course", value="technicalclimbing")
        | Technicalclimbing course
