mixin icon_components()
  svg(class="c7-icon c7-menu-vertical-item-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
    path(d="M0 0h24v24H0z" fill="none")
    path(d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z")

mixin icon_templates()
  svg(class="c7-icon c7-menu-main-item-link-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
    path(d="M6 2c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6H6zm7 7V3.5L18.5 9H13z")
    path(d="M0 0h24v24H0z" fill="none")

mixin icon_guidelines()
  svg(class="c7-icon c7-menu-main-item-link-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
    path(d="M14 17H4v2h10v-2zm6-8H4v2h16V9zM4 15h16v-2H4v2zM4 5v2h16V5H4z")
    path(d="M0 0h24v24H0z" fill="none")

mixin icon_questions()
  svg(class="c7-icon c7-menu-main-item-link-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
    path(d="M0 0h24v24H0z" fill="none")
    path(d="M21 6h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1zm-4 6V3c0-.55-.45-1-1-1H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1z")

mixin icon_clock()
  svg(class="c7-icon c7-badge-reading-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
    path(d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z")
    path(d="M0 0h24v24H0z" fill="none")
    path(d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z")

mixin icon_search()
  svg(viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
    path(d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
    path(d="M0 0h24v24H0z" fill="none")

mixin icon_zoom()
  svg(viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
    path(d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
    path(d="M0 0h24v24H0V0z" fill="none")
    path(d="M12 10h-2v2H9v-2H7V9h2V7h1v2h2v1z")

mixin icon_arrow-right()
  svg(viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
    path(d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z")
    path(d="M0-.25h24v24H0z" fill="none")

mixin icon_phone()
  svg(viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
    path(d="M0 0h24v24H0z" fill="none")
    path(d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z")
