mixin nav-inline()
  ul.c7-list--inline.c7-nav--inline
    li.c7-list--inline__item.c7-nav--inline__item
      a(href="#").c7-nav--inline__link.c7-tabs__active Overzicht
    li.c7-list--inline__item.c7-nav--inline__item
      a(href="#").c7-nav--inline__link Over deze vestiging
    li.c7-list--inline__item.c7-nav--inline__item
      a(href="#").c7-nav--inline__link Locatie
