mixin profile()
  .c7-profile
    figure
      img.c7-circle(src="images/profile.jpg").c7-profile--image
      
    .c7-profile--info
      .c7-profile--info__name drs. Pim van der Horst MBA
      a(href="mailto:p.vanderhorst@credion.nl").c7-profile--info__email p.vanderhorst@credion.nl
      a(href="tel:+31612345678").c7-profile--info__number
        svg.c7-icon.c7-profile--info__icon(viewBox="0 0 24 24" height="24px")
          use(xlink:href="#phone")
        | 06 1234 5678
