mixin component_search_bar()
  .c7-form--field
    label.c7-form--field__label Postcode of plaats
    input.c7-form--field__input.c7-form__input--text(type="text" placeholder="Typ postcode of plaats...")
    a(href="locations.html").c7-button.c7-button--round.c7-button-primary.c7-search--button Zoek
