mixin component-testimonial
  .c7-testimonial
    .c7-testimonial-image
      img(src="images/testimonial3.png").c7-w-100
      img(src="images/profile.jpg").c7-testimonial-profile
      .c7-testimonial-name Aniek Hoogeveen
    .c7-testimonial-quote
      | "Al die financiele producten zeggen mij niks. Mijn Credion adviseur heeft mij van A tot Z ontzorgd"
    .c7-testimonial-topic Herfinanciering gerealiseerd
