// Base
$base-font-size:            16px;
$base-line-height:          1.5rem;
$base-font-family:          'TeX Gyre Heros', sans-serif;
$base-font-family-heading:  'Rambla', sans-serif;
$base-background-color:     $white;

// Font sizes
$font-size-10:   .125rem;
$font-size-20:   .25rem;
$font-size-30:   .375rem;
$font-size-40:   .5rem;
$font-size-50:   .625rem;
$font-size-60:   .75rem;
$font-size-70:   .875rem;
$font-size-80:   $base-font-size;
$font-size-90:   1.125rem;
$font-size-100:  1.25rem;
$font-size-110:  1.375rem;
$font-size-120:  1.5rem;
$font-size-130:  1.625rem;
$font-size-140:  1.75rem;
$font-size-150:  1.875rem;
$font-size-160:  2rem;

// Heading sizes
$heading-size-1: 3rem;
$heading-size-2: 2rem;
$heading-size-3: 1.75rem;
$heading-size-4: 1.5rem;
$heading-size-5: 1.25rem;
$heading-size-6: 1.125rem;

// Spacing
$spacing-xxs:     0.25rem;
$spacing-xs:     0.75rem;
$spacing-s:      1rem;
$spacing-m:      1.25rem;
$spacing:        1.5rem;
$spacing-l:      2rem;
$spacing-xl:     3rem;
$spacing-xxl:    6rem;

// Border radius
$border-radius-10: .25rem;
$border-radius-20: .5rem;
$border-radius-30: .75rem;
$border-radius-40: 1rem;
