// ========== Settings Responsive

// Breakpoints
$break-xxs-min:  320px;
$break-xs-min:   400px;
$break-s-min:    600px;
$break-s-max:    599px;
$break-m-min:    800px;
$break-l-min:    960px;
$break-xl-min:  1200px;
$break-xxl-min: 1400px;

// max width

@mixin brp-s-max {
  @media (max-width: #{$break-s-max}) {
    @content;
  }
}

// min width
@mixin brp-xxs {
  @media (min-width: #{$break-xxs-min}) {
    @content;
  }
}

@mixin brp-xs {
  @media (min-width: #{$break-xs-min}) {
    @content;
  }
}

@mixin brp-s {
  @media (min-width: #{$break-s-min}) {
    @content;
  }
}

@mixin brp-m {
  @media (min-width: #{$break-m-min}) {
    @content;
  }
}

@mixin brp-l {
  @media (min-width: #{$break-l-min}) {
    @content;
  }
}

@mixin brp-xl {
  @media (min-width: #{$break-xl-min}) {
    @content;
  }
}

@mixin brp-xxl {
  @media (min-width: #{$break-xxl-min}) {
    @content;
  }
}
