// Default
$black:               #000;
$gray:                #ccc;
$white:               #fff;

// Brand
$color-brand:         #003f87;
$color-secondary:     #008772;
$color-blue:          #598ab0;
$color-green:         #59ae9d;
$color-yellow:        #ffcc00;
$color-neutral:       #616d7e;

$color-brand-50:      $color-brand;

$color-secondary-50:  $color-secondary;

$color-blue-50:       $color-blue;

$color-green-50:      $color-green;

$color-yellow-50:      $color-yellow;

$color-neutral-10:    lighten($color-neutral, 32%);
$color-neutral-20:    lighten($color-neutral, 24%);
$color-neutral-30:    lighten($color-neutral, 16%);
$color-neutral-40:    lighten($color-neutral, 8%);
$color-neutral-50:    $color-neutral;

// Font
$color-font-default:  $color-neutral-50;
$color-font-headings: $color-brand-50;

// Link
$color-link-default:  #07387f;
$color-link-hover:    #002c6d;
$color-link-visited:  #07387f;
